body, html {
    height: 100%;
}

.page, body {
    background-color: #f8f8f8
}

.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    height: 100%;
}

.page__hd {
    padding-top: 20px;
    padding-bottom: 10px;
}

.page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400
}

.self_btn {
    margin-top: 3rem;
}

.result_page__hd {
    padding: 30px;
}

.result_btn-area {
    margin-top: 70px;
}

.result_page__bd {
    margin-top: 47px;
}