<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/lib/weui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my.css">
    <script src="/js/lib/zepto.min.js"></script>
    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/payment.js"></script>
    <title th:text="${name}">缴费</title>
</head>
<body>

<div class="page">
    <div class="page__hd">
        <div class="header" th:text="${name}">

        </div>

    </div>

    <div style="display: none">
        <input type="text" th:value="${id}" id="id">
        <input type="text" id="mark">
    </div>

    <div class="page__bd">
        <div class="weui-cells__title" th:if="${isIndefine}">选择</div>
        <div class="weui-cells" th:if="${isIndefine}">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">缴费类型</label>
                </div>

                <div class="weui-cell__bd">
                    <label>
                        <select class="weui-select" id="payment_type" onchange="changeType(this)">
                            <option value="" disabled selected hidden>请选择类型</option>
                            <option th:each="type : ${types}" th:text="${type.type}" th:value="${type.type}"
                                    th:attr="data-money=${type.money}">健身卡缴费
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>


        <div class="weui-cells__title">缴费金额</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="host">金额</label>
                </div>
                <div class="weui-cell__bd" id="host">
                    <input class="weui-input" type="text" id="amt" placeholder="请输入缴费金额(元)">
                </div>
            </div>
        </div>

        <div th:if="${p1name}">
            <div th:if="${ !p1item }">
                <div class="weui-cells__title" th:text="${p1name}">缴费金额</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label" for="host" th:text="${p1name}">金额</label>
                        </div>
                        <div class="weui-cell__bd" id="p1name">
                            <input class="weui-input" type="text" id="p1" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${ p1item }">
                <div class="weui-cells__title">选择</div>
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label" th:text="${p1name}">选择</label>
                        </div>

                        <div class="weui-cell__bd">
                            <label>
                                <select class="weui-select" id="p1">
                                    <option value="" disabled selected hidden>请选择类型</option>
                                    <option th:each="type : ${p1items}" th:text="${type.name}" th:value="${type.value}">健身卡缴费</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${p2name}">
            <div th:if="${ !p2item }">
                <div class="weui-cells__title" th:text="${p2name}">缴费金额</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label" for="host" th:text="${p2name}">金额</label>
                        </div>
                        <div class="weui-cell__bd" id="p2name">
                            <input class="weui-input" type="text" id="p2" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${ p2item }">
                <div class="weui-cells__title">选择</div>
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label" th:text="${p2name}">选择</label>
                        </div>

                        <div class="weui-cell__bd">
                            <label>
                                <select class="weui-select" id="p2">
                                    <option value="" disabled selected hidden>请选择类型</option>
                                    <option th:each="type : ${p2items}" th:text="${type.name}" th:value="${type.value}">健身卡缴费</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${isBill}">
            <div class="weui-cells__title">选择</div>
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">选择单位</label>
                    </div>

                    <div class="weui-cell__bd">
                        <label>
                            <select class="weui-select" onchange="changeBill(this)">
                                <option value="" disabled selected hidden>选择单位</option>
                                <option th:each="bill : ${bills}" th:text="${bill.zzUnit}" th:value="${bill.zzUnit}"
                                        th:attr="data-taxCode=${bill.taxCode}">
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">税号</div>

            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label" for="host">税号</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="taxCode" placeholder="" disabled>
                    </div>
                </div>
            </div>






        </div>






        <div th:if="${ismark}">

            <div class="weui-cells__title">备注</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd" id="beizhu">
                        <textarea class="weui-textarea" placeholder="请输入文本" rows="3" disabled th:text="${mark}"></textarea>
                    </div>
                </div>
            </div>


        </div>




        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary self_btn" href="javascript:" id="sub">确定</a>
        </div>
        <form id="nic_form" action="http://jf.finance.upc.edu.cn/payment/pay/mobileAppPay.action" method="post">
            <input id="sign" type="hidden" name="sign">
            <input id="sysid" type="hidden" name="sysid">
            <input id="subsysid" type="hidden" name="subsysid">
            <input id="data" type="hidden" name="data">
        </form>

        <div id="dialogs">
            <div class="dialog-confirm" id="dialog_1" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd">请输入正确的金额</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:" id=""
                           class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>

            <div class="dialog-confirm" id="dialog_2" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <!--<div class="weui-dialog__hd"><strong class="weui-dialog__title">弹窗标题</strong></div>-->
                    <div class="weui-dialog__bd">
                        <div id="packageErr">仅限校园网用户充值</div>
                        <br>
                        <div id="packageErrCon"></div>
                    </div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:" id="confirm_campus_group"
                           class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>


            <div class="dialog-confirm" id="dialog_e" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd" id="dialog_err">请输入正确的金额</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:" id="confirm_empty"
                           class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="page_ft">
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>
